.widget {
  margin-bottom: 10px;
}
.Background {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2e2f42;
}
.change-color {
  width: 148px;
  height: 40px;
  border-radius: 8px;
  padding: 8px, 16px, 8px, 16px;
  gap: 10px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  cursor: pointer;
  color: #ffffff;
  background-color: #4e75ff;
  border-color: #4e75ff;
}
.input {
  width: 360px;
  height: 40px;
  border: solid 1px;
  border-radius: 4px;
  border-color: #808080;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
  padding-left: 16px;
  font-family: Montserrat;
}
.input::placeholder {
  color: #000000;
}
.span {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-family: Montserrat;
}
.title-main {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
/* Form */
.box-label {
  margin-bottom: 8px;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Montserrat;
  margin-bottom: 9px;
}
.input-mail {
  width: 360px;
  height: 40px;
  border-color: #808080;
  border-radius: 4px;
  border: solid 1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
  font-family: Montserrat;
}
.input-mail::placeholder {
  color: #000000;
}
.input-mail:hover {
  border-color: #000000;
}

.box-password {
  margin-bottom: 16px;
}
.button {
  width: 86px;
  height: 40px;
  border-radius: 8px;
  border-color: #4e75ff;
  padding: 8px, 16px, 8px, 16px;
  gap: 10px;
  background-color: #4e75ff;
  color: #f6f6fe;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: Montserrat;
}
.button:hover {
  background-color: #6c8cff;
}
.item {
  list-style: none;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #2e2f42;
  margin-bottom: 16px;
  padding-left: 40px;
  font-family: Montserrat;
}
.list {
  color: #f6f6fe;
  list-style: none;
}
.box {
  border: solid 1px;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  color: #808080;
  margin-bottom: 8px;
}
.text {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
  font-family: Montserrat;
  width: 29px;
  height: 24px;
}
/* Gallery */
.gallery {
  width: 1128px;
  height: 300px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.gap {
  width: calc((100% - 48px) / 3);
}
